<section class="taxonomy gh-canvas">

        {{#if profile_image}}
            <div class="taxonomy-media u-placeholder square">
                <img class="u-object-fit" src="{{img_url profile_image size="s"}}" alt="{{name}}">
            </div>
        {{/if}}

        <header class="single-header">

            {{#if website}}
                <h1>
                    <a class="single-title gradient retro-2" href="{{website}}" target="_blank" rel="noopener noreferrer">{{name}}</a>
                </h1>
            {{else}}
                <h1 class="single-title gradient retro-2">{{name}}</h1>
            {{/if}}

            {{#if location}}
                <span class="author-meta">{{location}}</span>
            {{/if}}

            <div class="author-bio">{{bio}}</div>

            <div class="author-social">
                {{#if twitter}}
                    <a class="author-social-item author-twitter" href="{{social_url type="twitter"}}" target="_blank" rel="noopener noreferrer">
                        {{> "icons/twitter"}}
                    </a>
                {{/if}}
                {{#if facebook}}
                    <a class="author-social-item author-facebook" href="{{social_url type="facebook"}}" target="_blank" rel="noopener noreferrer">
                        {{> "icons/facebook"}}
                    </a>
                {{/if}}
                {{#if linkedin}}
                    <a class="author-social-item author-linkedin" href="{{social_url type="linkedin"}}" target="_blank" rel="noopener noreferrer">
                        {{> "icons/linkedin"}}
                    </a>
                {{/if}}
                {{#if bluesky}}
                    <a class="author-social-item author-bluesky" href="{{social_url type="bluesky"}}" target="_blank" rel="noopener noreferrer">
                        {{> "icons/bluesky"}}
                    </a>
                {{/if}}
                {{#if threads}}
                    <a class="author-social-item author-threads" href="{{social_url type="threads"}}" target="_blank" rel="noopener noreferrer">
                        {{> "icons/threads"}}
                    </a>
                {{/if}}
                {{#if mastodon}}
                    <a class="author-social-item author-mastodon" href="{{social_url type="mastodon"}}" target="_blank" rel="noopener noreferrer">
                        {{> "icons/mastodon"}}
                    </a>
                {{/if}}
                {{#if tiktok}}
                    <a class="author-social-item author-tiktok" href="{{social_url type="tiktok"}}" target="_blank" rel="noopener noreferrer">
                        {{> "icons/tiktok"}}
                    </a>
                {{/if}}
                {{#if youtube}}
                    <a class="author-social-item author-youtube" href="{{social_url type="youtube"}}" target="_blank" rel="noopener noreferrer">
                        {{> "icons/youtube"}}
                    </a>
                {{/if}}
                {{#if instagram}}
                    <a class="author-social-item author-instagram" href="{{social_url type="instagram"}}" target="_blank" rel="noopener noreferrer">
                        {{> "icons/instagram"}}
                    </a>
                {{/if}}
            </div>

        </header>

    </section>

    <style>
        .taxonomy {
    margin-bottom: 6vmin;
}

.taxonomy-media {
    width: 90px;
    margin: 0 auto 3rem;
    overflow: hidden;
    border-radius: 50%;
}

.u-placeholder {
    position: relative;
    z-index: 10;
    background-color: var(--gray-6);
}

.single-header {
    text-align: center;
    margin-bottom: 4rem;
}
</style>